body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFE58F;
}

body::after {
  content: "";
  display: block;
  height: 1o0vh;
}

.navbar {
  overflow: hidden;
  background-color: #F0A202;
  font-family: "Pacifico";
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: "Pacifico";
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #FDE0BF;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F0A202;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


nav {
  background-color: #F0A202;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: #FDE0BF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Pacifico";
  font-weight: 400;
  font-style: cursive;
    }


    nav a:hover {
      background-color: #FDE0BF;
      color: #F0A202;
  }

.nav-logo {
  float: left;
  padding: 14px 16px;
  text-align: center;
}

.nav-logo h1,
.nav-logo h2 {
  margin: 0;
  color: DDD78D;
  font-size: 2rem;
  text-transform: uppercase;
}

.nav-logo h2 {
  font-size: 1.5rem;
}

.center {
  text-align: center;
}


footer {
  background-color: #F0A202;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
}

footer .contact-info {
  color: #80010F;
  font-size: .9rem;
  margin-left: 1rem;
}

footer .social-links {
  display: flex;
  margin-right: 1rem;
}

footer .social-links a {
  color: #80010F;
  text-decoration: none;
  font-size: .9rem;
  margin-left: 1rem;
}