
body {
    font-family: Arial, sans-serif;
    background-image: url('/Users/nevaaa/Desktop/Enterprise Computing/in.jpeg');
    background-size: cover; 
    background-position: center;
    background-attachment: scroll;
    margin: 0;
    padding: 0;
  }

  body::after {
    content: "";
    display: block;
    height: 100vh;
  }
  
  nav {
    background-color: #d4af37;
    overflow: hidden;
  }
  
  nav a {
    float: left;
    display: block;
    color: #625730;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Pacifico";
    font-weight: 400;
    font-style: cursive;
      }

  
      nav a:hover {
        background-color: #dab37f;
        color: rgb(175, 157, 115);
    }
  
  .nav-logo {
    float: left;
    padding: 14px 16px;
    text-align: center;
  }
  
  .nav-logo h1,
  .nav-logo h2 {
    margin: 0;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
  }
  
  .nav-logo h2 {
    font-size: 1.5rem;
  }
  
  .center {
    text-align: center;
  }
  

  h1 {
   
    display: block;
    color: #796a33;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Sofia";
    font-weight: 400;
    font-style: normal;
    font-size: 5rem; 
    padding: 10px 0; 
  }
  