
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: url('/Users/nevaaa/Desktop/Enterprise Computing/tajmahal.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

header h1 {
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
}

header h2 {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 0;
  margin-bottom: 20px;
}

header p {
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 0;
}

  body::after {
    content: "";
    display: block;
    height: 1o0vh;
  }
  
  nav {
    background-color: #b93232;
    overflow: hidden;
  }
  
  nav a {
    float: left;
    display: block;
    color: #250000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Pacifico";
    font-weight: 400;
    font-style: cursive;
      }

  
      nav a:hover {
        background-color: #864545;
        color: rgb(116, 0, 0);
    }
  
  .nav-logo {
    float: left;
    padding: 14px 16px;
    text-align: center;
  }
  
  .nav-logo h1,
  .nav-logo h2 {
    margin: 0;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
  }
  
  .nav-logo h2 {
    font-size: 1.5rem;
  }
  
  .center {
    text-align: center;
  }
  

  h1 {
   
    display: block;
    color: #793333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Sofia";
    font-weight: 400;
    font-style: normal;
    font-size: 7rem; 
    padding: 10px 0; 
  }

  h2 {

    display: block;
    color: #793333;
    text-align: center;
    text-decoration: none;
    font-family: "Sofia";
    font-weight: 400;
    font-style: normal;
    font-size: 4rem; 

  }

  footer {
    background-color: #b93232;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-side {
    flex: 1;
    text-align: left;
  }
  
  .right-side {
    flex: 1;
    text-align: right;
  }
  
  .right-side ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .right-side li {
    margin-left: 20px;
  }
  
  .right-side a {
    color: white;
    text-decoration: none;
  }
  
  .right-side a:hover {
    text-decoration: underline;
  }
  
  .right-side img {
    height: 30px;
    width: 30px;
  }

  .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  

