body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFE58F;
}

body::after {
  content: "";
  display: block;
  height: 1o0vh;
}

.navbar {
  overflow: hidden;
  background-color: #ffa033;
  font-family: "Pacifico";
}

.navbar a {
  font-family: "Pacifico";
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  font-family: "Pacifico";
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: "Pacifico";
  margin: 0; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #FDE0BF;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-family: "Pacifico";
  background-color: #ffa033;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  font-family: "Pacifico";
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

  nav {
    background-color: #F0A202;
    overflow: hidden;
  }
  
  nav a {
    float: left;
    display: block;
    color: #FDE0BF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Pacifico";
    font-weight: 400;
    font-style: cursive;
      }

  
      nav a:hover {
        background-color: #FDE0BF;
        color: #F0A202;
    }
 
.center {
  text-align: center;
}


footer {
  background-color: #F0A202;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
}

footer .contact-info {
  color: #80010F;
  font-size: .9rem;
  margin-left: 1rem;
}

footer .social-links {
  display: flex;
  margin-right: 1rem;
}

footer .social-links a {
  color: #80010F;
  text-decoration: none;
  font-size: .9rem;
  margin-left: 1rem;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}