body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFE58F;
}

body::after {
  content: "";
  display: block;
  height: 1o0vh;
}

header {
  background-position: fixed;
  top: 0;
  height: 20vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 20px;
  background-image: url("/Users/nevaaa/Desktop/Enterprise Computing/img/e1888d8777b9354a5a03d3fa525b38b5.jpg");;
}

h1 {
   
  display: block;
  color: #B00014;
  text-align: center;
  padding: 14px 16px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 0;
  font-family: "Sofia";
  font-weight: 400;
  font-style: normal;
  font-size: 4rem; 
  padding: 10px 0; 
}

.image-stack {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}

.image-stack img {
  width:300px;
  height:320px;
  margin: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav {
  background-color: #F0A202;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: #FDE0BF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Pacifico";
  font-weight: 400;
  font-style: cursive;
    }


    nav a:hover {
      background-color: #FDE0BF;
      color: #F0A202;
  }

.nav-logo {
  float: left;
  padding: 14px 16px;
  text-align: center;
}

.nav-logo h1,
.nav-logo h2 {
  margin: 0;
  color: DDD78D;
  font-size: 2rem;
  text-transform: uppercase;
}

.nav-logo h2 {
  font-size: 1.5rem;
}

.center {
  text-align: center;
}


footer {
  background-color: #F0A202;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
}

footer .contact-info {
  color: #80010F;
  font-size: .9rem;
  margin-left: 1rem;
}

footer .social-links {
  display: flex;
  margin-right: 1rem;
}

footer .social-links a {
  color: #80010F;
  text-decoration: none;
  font-size: .9rem;
  margin-left: 1rem;
}