body {
  font-family: "Pacifico";
  background-color: #FFF4E5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #800020;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px #801818;
  outline: 2px solid #59260B;
  padding: 5px;
}


header {
  background-position: fixed;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 0px;
  background-color: #DAA06D;
}


  body::after {
    content: "";
    display: block;
    height: 1vh;
  }
  
.navbar {
  overflow: hidden;
  background-color: #801818;
  font-family: "Pacifico";
}



.navbar a {
  font-family: "Pacifico";
  float: left;
  font-size: 20px;
  color: #DAA06D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  border: 0;
}

.dropdown .dropbtn {
  font-size: 20px;
  font-family: "Pacifico";
  border: none;
  outline: none;
  color: #DAA06D;
  padding: 14px 16px;
  background-color: inherit;
  font-family: "Pacifico";
  margin: 0; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #DAA06D;
  color: #80010F;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-family: "Pacifico";
  background-color: #801818;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #DAA06D;
  font-family: "Pacifico";
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #DAA06D;
}

.dropdown:hover .dropdown-content {
  display: block;
}

  nav {
    background-color: #801818;
    overflow: hidden;
  }
  
  nav a {
    float: left;
    display: block;
    color: #DAA06D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Pacifico";
    font-weight: 400;
    font-style: cursive;
      }

  
      nav a:hover {
        background-color: #DAA06D;
        color: #801818;
    }
 
  
  .center {
    text-align: center;
  }
  

  footer {
    background-color: #801818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem; 
    border-top: 1px solid #801818; 
  }
  
  footer .contact-info {
    color: #DAA06D;
    font-size: 1.2rem; 
    margin-left: 2rem;
  }
  
  footer .social-links {
    display: flex;
    margin-right: 2rem;
  }
  
  footer .social-links a {
    color: #DAA06D;
    text-decoration: none;
    font-size: 1.2rem; 
    margin-left: 2rem;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    margin: 50px;
    text-align: center;
  }
  
  .product-item {
    border: 2px solid #800020;
    border-radius: 10px;
    padding: 15px;
    transition: all 0.3s ease;
  }
  
  .product-item img {
    width: 100%;
    height: auto;
  }
  
  .product-info {
    margin-top: 15px;
  }
  
  .product-item:hover {
    transform: scale(1.05);
  }

  .add-to-cart {
    background-color: #800020; 
    border: none;
    color: white;
    padding: 5px 10px; 
    text-align: center;
    text-decoration: none;
    font-size: 12px; 
    cursor: pointer;
}

.add-to-cart:hover {
  background-color: #59260B;
}